<%- include('header') -%>
<main>
<div class="form">
    <form class="form-signup" method="post" action="/" enctype="application/x-www-form-urlencoded" >
      <label class="form-row">
        <p>Nafn*</p>
        <input class="input" type="text" name="name" value="<% name %>" >
      </label>
      <label class="form-row">
        <p>Kennitala*</p>
        <input class="input" type="text" name="nationalId" value="<% nationalId %>">
      </label>
      <label class="form-row">
        <p>Athugasemd:</p>
        <textarea class="input" type="text" name="comment" value="<% comment %>"></textarea>
      </label>
      <label class="form-row">
        <input class="form-check" type="checkbox" name="anonymous">
        <p>Ekki birta nafn á lista</p>
      </label>
      
      <div class="form-errorMessages">
        <% if (errors.length > 0) { %>
          <h2>Vandræði við að senda umsókn:</h2>
          <ul class="errors">
            <% errors.forEach((error) => { %>
              <% console.log(error) %>
              <li class="error"><label  ><%= error %></label></li>
            <% }); %>
          </ul>
        <% } %>
      </div>
      <button><h2>Skrifa undir</h2></button>
    </form>
  </div>
</div> 
<div class="results">
  <h2 class="results-header">Undirskriftir</h2>
  <table class="results-table">
    <tr>
      <th>Dags</th>
      <th>Nafn</th>
      <th>Athugasemd</th>
    </tr>
    <% result.forEach(( item ) => { %>
    <tr>
      <td> <%= locals.formatDate(item.signed) %></td>
      <td> <%= item.name %></td>
      <td> <%= item.comment %></td>
    </tr>
    <% }) %>
  </table>
</div> 
</main>
<%- include('footer') -%>
