<%- include('header') -%>
<main>
<div class="form">
    <form class="form-signup" method="post" action="/" enctype="application/x-www-form-urlencoded" >
      <label class="form-row<%= locals.isInvalid('name', errors) ?  ' form--invalid' : ' ' %>">
        <p for="name">Nafn*</p>
        <input  class="input" id="name" type="text" name="name" value="<% name %>" >
      </label>
      <label class="form-row<%= locals.isInvalid('nationalId', errors) ?  ' form--invalid' : ' ' %>">
        <% console.log('invalid', (locals.isInvalid('nationalId', errors) ?  ' ' : ' form--invalid') )  %>
        <p for="nationalId">Kennitala*</p>
        <input class="input" id="nationalId"type="text" name="nationalId" value="<% nationalId %>">
      </label>
      <label class="form-row">
        <p>Athugasemd:</p>
        <textarea class="input" type="text" name="comment" value="<% comment %>"></textarea>
      </label>
      <label class="form-row">
        <input class="form-check" type="checkbox" name="anonymous" value="true">
        <p class="">Ekki birta nafn á lista </p>
      </label>
      
      <div class="form-errorMessages">
        <% if (errors.length > 0) { %>
          <h2>Vandræði við að senda umsókn:</h2>
          <ul class="errors">
            <% errors.forEach((error) => { %>
              <% console.log(error) %>
              <li class="error"><label  ><%= error %></label></li>
            <% }); %>
          </ul>
        <% } %>
      </div>
      <div class="form-button">
        <button><h2>Skrifa undir</h2></button>
      </div>
    </form>
  </div>
</div> 
<div class="results">
  <h2 class="results-header">Undirskriftir</h2>
  <% if (result.length > 0) { %>
  <table class="results-table">
    <tr>
      <th>Dags</th>
      <th>Nafn</th>
      <th>Athugasemd</th>
    </tr>
    <% result.forEach(( item ) => { %>
    <tr>
      <td> <%= locals.formatDate(item.signed) %></td>
      <% if (item.anonymous) { %>
        <td>anonymous</td>
      <% } else   { %>
        <td><%= item.name %></td>
      <% } %>
      <td><%= item.comment %></td>
    </tr>
    <% }) %>
  </table>
  <% } else { %> 
    <h3>Það eru engar undirskriftir</h3>
  <% } %> 
</div> 
</main>
<%- include('footer') -%>
