<%- include('header') -%>
<div class="form">
  <h1 class="form-header">Undirskriftarlisti</h1>
  <div class="form-inner">
    <form method="post" action="/" enctype="application/x-www-form-urlencoded" >
      <label>
        Nafn*
        <input required type="text" name="name" value="<% name %>" >
      </label>
      <label>
        Kennitala*
        <input required type="text" name="nationalId" value="<% nationalId %>">
      </label>
      <label>
        Athugasemd:
        <textarea required type="text" name="comment" value="<% comment %>"></textarea>
      </label>
      <label>
        <input type="checkbox" name="anonymous" >
        <p>Ekki birta nafn รก lista</p>
      </label>

      <button>Skrifa undir</button>
    </form>
  </div>
</div> <div class="results">
  <h1 class="results-header">Undirskriftarlisti</h1>
  <div class="results-inner">

    <% result.forEach(( item ) => { %>
      <p> <%= item.signed %></p>
      <p> <%= item.name %></p>
      <p> <%= item.nationalid %></p>
      <p> <%= item.comment %></p>
    <% }) %>
  </div>
</div> 

<%- include('footer') -%>
