<%- include('header') -%>
<main>
<div class="form">
    <form class="form-signup" method="post" action="/" enctype="application/x-www-form-urlencoded" >
      <label class="form-row<%= locals.isInvalid('name', errors) ? ' form--invalid' : ' ' %>">
        <p for="name">Nafn*</p>
        <input  class="input" id="name" type="text" name="name" value="<% name %>" >
      </label>
      <label class="form-row<%= locals.isInvalid('nationalId', errors) ?  ' form--invalid' : ' ' %>">
        <p for="nationalId">Kennitala*</p>
        <input class="input" id="nationalId"type="text" name="nationalId" value="<% nationalId %>">
      </label>
      <label class="form-row<%= locals.isInvalid('nationalId', errors) ?  ' form--invalid' : ' ' %>">
        <p for="comment">Athugasemd:</p>
        <textarea class="input" id="comment" type="text" name="comment" value="<% comment %>"></textarea>
      </label>
      <label class="form-row">
        <input class="form-check" type="checkbox" name="anonymous" value="true">
        <p class="">Ekki birta nafn á lista </p>
      </label>
      
      <div class="form-errorMessages">
        <% if (errors.length > 0) { %>
          <h2>Vandræði við að senda umsókn:</h2>
          <ul class="errors">
            <% errors.forEach((error) => { %>
              <li class="error"><label  ><%= error.msg %></label></li>
            <% }); %>
          </ul>
        <% } %>
      </div>
      <div class="form-button">
        <button><h2>Skrifa undir</h2></button>
      </div>
    </form>
  </div>
</div> 

</main>
<%- include('signatures') -%>
<%- include('footer') -%>
