<%- include('header') -%>
<h1 class="header"><%= video.title %></h1>
<div class="item">
    <div class="item-outer">
        <video class="item-video" controls>
            <source src="/<%= video.video %>" type="video/mp4">
        </video>
        <p class="item-description"><%= video.description %></p>
        <a class="item-back" href="/">Til baka</a>
    </div>
</div>
<%- include('footer') -%>   